{
    "arrowParens": "always",
    "embeddedLanguageFormatting": "auto",
    "singleQuote": true,
    "bracketSpacing": true,
    "semi": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "printWidth": 150,
    "tabWidth": 2,
    "trailingComma": "es5",
    "jsxSingleQuote": true
  }
  