@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('./vazir/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
